In [1]:
import pandas as pd
import openaq as aq
import matplotlib.pyplot as plt

# OpenAQ Python API

In [2]:
api = aq.OpenAQ()
# locations = []
# for loc in ["Jakarta", "Bogor", "Tangerang", "Depok", "Bekasi"]:
#     try:
#         _ = api.locations(
#             city=loc, 
#             # df=True
#             )
#         locations.append(_)
#     except:
#         print(f"Error for {loc}")

In [4]:
# city = "Jakarta"
# res = api.measurements(city=city, parameter='pm25', limit=10000)

In [61]:
temp = api.locations(
            city="Jakarta", 
            # df=True
            )

In [62]:
temp[1]['results'][0]['locations']

['US Diplomatic Post: Jakarta Central']

In [63]:
res = api.parameters(df=True)

,id,country,city,cities,location,locations,sourceName,sourceNames,sourceType,sourceTypes,firstUpdated,lastUpdated,parameters,countsByMeasurement,count,coordinates.latitude,coordinates.longitude
0,8637,ID,Jakarta,[Jakarta],US Diplomatic Post: Jakarta Central,[US Diplomatic Post: Jakarta Central],StateAir_JakartaCentral,[StateAir_JakartaCentral],government,[government],2016-11-09T17:00:00+00:00,2023-08-15T04:00:00+00:00,"[o3, pm25]","[{'parameter': 'o3 ppm', 'count': 4942}, {'par...",57029,-6.182536,106.834236

# OpenAQ API

In [49]:
import requests

url = "https://api.openaq.org/v2/cities?limit=100000&offset=0&sort=asc&order_by=city"

headers = {"accept": "application/json"}

response = requests.get(url, headers=headers)

cities_df = pd.json_normalize(response.json()['results'])

In [52]:
# cities_df[cities_df['country'=='ID']]
cities_df['country'].unique()

array(['JP', 'US', 'CI', 'AE', 'GH', 'ES', 'TR', 'ET', 'AU', 'MK', 'MX',
       'FR', 'HU', 'IS', 'RO', 'CA', 'IT', 'NO', 'ZA', 'DZ', 'CL', 'LT',
       'BR', 'JO', 'NL', 'BE', 'TT', 'GB', 'NZ', 'TM', 'KZ', 'PL', 'PT',
       'CH', 'DE', 'IQ', 'ML', 'ID', 'TH', 'SK', 'ME', 'CO', 'AT', 'CN',
       'RS', 'KG', 'SE', 'XK', 'HR', 'LA', 'AR', 'PR', 'SI', 'FI', 'IN',
       'MM', 'GN', 'IE', 'BD', 'SA', 'LU', 'TJ', 'CZ', 'GT', 'VN', 'DK',
       'MD', 'NG', 'PK', 'AF', 'UG', 'NP', 'SD', 'KW', 'PE', 'AM', 'AZ',
       'BA', 'BZ', 'CD', 'EG', 'KE', 'LK', 'MG', 'MY', 'QA', 'RW', 'TD',
       'RU', 'IL', 'LV', 'CR', 'KR', 'UZ', 'MN', 'CY', 'GR', 'BG'],
      dtype=object)

In [34]:
import requests

openaq_api = "230e041c1b6118b3473ae70fe59697c6818d5ee921b03b3e97e6982305f3e8e6"
res = requests.get("https://api.openaq.org/v2/locations/2178", headers={"X-API-Key": f"{openaq_api}"})

In [39]:
res.json()

{'meta': {'name': 'openaq-api',
  'license': '',
  'website': '/',
  'page': 1,
  'limit': 100,
  'found': 1},
 'results': [{'id': 2178,
   'city': 'Albuquerque',
   'name': 'Del Norte',
   'entity': None,
   'country': 'US',
   'sources': None,
   'isMobile': False,
   'isAnalysis': None,
   'parameters': [{'id': 7,
     'unit': 'ppm',
     'count': 46643,
     'average': 0.008968450003273275,
     'lastValue': 0.0011,
     'parameter': 'no2',
     'displayName': 'no2 ppm',
     'lastUpdated': '2023-08-15T03:00:00+00:00',
     'parameterId': 7,
     'firstUpdated': '2016-03-06T19:00:00+00:00',
     'manufacturers': None},
    {'id': 35,
     'unit': 'ppm',
     'count': 2108,
     'average': 0.00171620553359683,
     'lastValue': 0.0,
     'parameter': 'no',
     'displayName': 'no ppm',
     'lastUpdated': '2023-08-15T03:00:00+00:00',
     'parameterId': 35,
     'firstUpdated': '2023-03-30T05:00:00+00:00',
     'manufacturers': None},
    {'id': 19840,
     'unit': 'ppm',
     'count': 2108,
     'average': 0.006603162055335933,
     'lastValue': 0.001,
     'parameter': 'nox',
     'displayName': 'nox ppm',
     'lastUpdated': '2023-08-15T03:00:00+00:00',
     'parameterId': 19840,
     'firstUpdated': '2023-03-30T05:00:00+00:00',
     'manufacturers': None},
    {'id': 1,
     'unit': 'µg/m³',
     'count': 49567,
     'average': 20.768838201509727,
     'lastValue': 12.0,
     'parameter': 'pm10',
     'displayName': 'pm10 µg/m³',
     'lastUpdated': '2023-08-15T03:00:00+00:00',
     'parameterId': 1,
     'firstUpdated': '2016-03-06T19:00:00+00:00',
     'manufacturers': None},
    {'id': 10,
     'unit': 'ppm',
     'count': 48498,
     'average': 0.03519449811003693,
     'lastValue': 0.058,
     'parameter': 'o3',
     'displayName': 'o3 ppm',
     'lastUpdated': '2023-08-15T03:00:00+00:00',
     'parameterId': 10,
     'firstUpdated': '2016-03-06T19:00:00+00:00',
     'manufacturers': None},
    {'id': 9,
     'unit': 'ppm',
     'count': 47578,
     'average': 0.0004847196061643775,
     'lastValue': 0.0,
     'parameter': 'so2',
     'displayName': 'so2 ppm',
     'lastUpdated': '2023-08-15T03:00:00+00:00',
     'parameterId': 9,
     'firstUpdated': '2016-03-06T19:00:00+00:00',
     'manufacturers': None},
    {'id': 2,
     'unit': 'µg/m³',
     'count': 47210,
     'average': 5.987498383411672,
     'lastValue': 3.4,
     'parameter': 'pm25',
     'displayName': 'pm25 µg/m³',
     'lastUpdated': '2023-08-15T03:00:00+00:00',
     'parameterId': 2,
     'firstUpdated': '2016-03-06T19:00:00+00:00',
     'manufacturers': None},
    {'id': 8,
     'unit': 'ppm',
     'count': 25845,
     'average': 0.22307168602322786,
     'lastValue': 0.2,
     'parameter': 'co',
     'displayName': 'co ppm',
     'lastUpdated': '2023-08-15T03:00:00+00:00',
     'parameterId': 8,
     'firstUpdated': '2019-08-06T00:00:00+00:00',
     'manufacturers': None}],
   'sensorType': None,
   'coordinates': {'latitude': 35.1353, 'longitude': -106.584702},
   'lastUpdated': '2023-08-15T03:00:00+00:00',
   'firstUpdated': '2016-03-06T19:00:00+00:00',
   'measurements': 269557,
   'bounds': [-106.584702, 35.1353, -106.584702, 35.1353],
   'manufacturers': [{'modelName': 'Government Monitor',
     'manufacturerName': 'Unknown Governmental Organization'}]}]}

In [38]:
df = pd.json_normalize(res.json()['results'])
df.head()

,id,city,name,entity,country,sources,isMobile,isAnalysis,parameters,sensorType,lastUpdated,firstUpdated,measurements,bounds,manufacturers,coordinates.latitude,coordinates.longitude
0,2178,Albuquerque,Del Norte,None,US,None,False,None,"[{'id': 7, 'unit': 'ppm', 'count': 46643, 'ave...",None,2023-08-15T03:00:00+00:00,2016-03-06T19:00:00+00:00,269557,"[-106.584702, 35.1353, -106.584702, 35.1353]","[{'modelName': 'Government Monitor', 'manufact...",35.1353,-106.584702