In [1]:
import os
import pathlib
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from tqdm.notebook import tqdm
from datetime import datetime, timedelta
# import seaborn as sns
# import plotly.graph_objs as go
# from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

# import torch
# import torch.nn as nn
# import torch.nn.functional as F
# import torch.optim as optim
# from torch.utils.data import Dataset, DataLoader

In [3]:
root_dir = pathlib.Path(os.getcwd()).parent
data_dir = root_dir / "data"

In [4]:
data = pd.read_csv(data_dir / "epa_tw_18.csv")
data.head()

,Unnamed: 0,SiteEngName,sn,AMB_TEMP,CH4,CO,NMHC,NO,NO2,NOx,...,WIND_DIREC,WIND_SPEED,WIND_cos,WIND_sin,WS_HR,W_HR_cos,W_HR_sin,lat,lon,read_time
0,1,Annan,安南,16.5,2.1,0.61,0.12,1.2,17.0,18.0,...,354.0,1.9,1.889592,-0.198604,1.9,1.895372e+00,-0.132537,"(23.04, 23.05)","(120.21, 120.22)",2018/1/1 00:00:00
1,2,Banqiao,板橋,16.1,1.9,0.37,0.07,0.9,9.8,11.0,...,81.0,1.7,0.265939,1.679070,1.4,8.570000e-17,1.400000,"(25.01, 25.02)","(121.45, 121.46)",2018/1/1 00:00:00
2,3,Cailiao,菜寮,15.8,0.0,0.35,0.00,0.4,10.0,10.0,...,91.0,2.3,-0.040141,2.299650,2.7,-1.413071e-01,2.696300,"(25.06, 25.07)","(121.48, 121.49)",2018/1/1 00:00:00
3,4,Changhua,彰化,16.0,1.9,0.40,0.11,0.9,9.8,11.0,...,5.2,4.2,4.182714,0.380657,3.9,3.893919e+00,0.217704,"(24.06, 24.07)","(120.54, 120.55)",2018/1/1 00:00:00
4,5,Chaozhou,潮州,18.0,0.0,0.93,0.00,1.2,17.0,18.0,...,49.0,1.1,0.721665,0.830181,0.8,6.709365e-01,0.435711,"(22.52, 22.53)","(120.56, 120.57)",2018/1/1 00:00:00

In [5]:
data.columns

Index(['Unnamed: 0', 'SiteEngName', 'sn', 'AMB_TEMP', 'CH4', 'CO', 'NMHC',
       'NO', 'NO2', 'NOx', 'O3', 'PH_RAIN', 'PM10', 'PM2.5', 'RAINFALL',
       'RAIN_COND', 'RH', 'SO2', 'THC', 'UVB', 'WD_HR', 'WIND_DIREC',
       'WIND_SPEED', 'WIND_cos', 'WIND_sin', 'WS_HR', 'W_HR_cos', 'W_HR_sin',
       'lat', 'lon', 'read_time'],
      dtype='object')